body {
	font-family: Arial;
	font-size: 14px;
	text-align: left;
	margin: 5px;
	background-color: #FFF;
}

.container{
	padding: 5px;
	margin: 5px;
}

.nav {
	width: 100%;
	height: 100px;
	background-color: #24D4CB;
	margin: 5px;
	margin-left: 5%;
}

.right{
	float: right;
}
.navContent{
	margin: 5px;
}

.title{
	color: #f9c8d1;
	font-size: 28px;
}
.btn-default{
	background-color: #24D4CB;
}

.btn-default:hover{
	background-color: #b6f3ef;
}

.image {
	width: 100px;
	margin: 10px;
	float: left;
	padding-bottom: 50px;
}

.form-style input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.voteDiv {
	display:inline;
}
.upVote{
	color: green;
	display:inline;
}
.downVote{
	color: red;
	display: inline;
}

li {
	list-style-type: none;
}

.postDiv{
	margin-left: 13%;
	margin-right: 7%;
	margin-bottom: 2%;
	width:85%;
	background-color: #b6f3ef;
	padding: 5px;
}
/*.postDiv.ng-move,
.postDiv.ng-enter,
.postDiv.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.postDiv.ng-leave.ng-leave-active,
.postDiv.ng-move,
.postDiv.ng-enter {
  opacity:0;
}

.postDiv.ng-leave,
.postDiv.ng-move.ng-move-active,
.postDiv.ng-enter.ng-enter-active {
  opacity:1;
}*/

.commentDiv{
	margin: 5px;
	width:50%;
	overflow: auto;
	background-color: #b6f3ef;
}
.commentDiv.ng-move,
.commentDiv.ng-enter,
.commentDiv.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.commentDiv.ng-leave.ng-leave-active,
.commentDiv.ng-move,
.commentDiv.ng-enter {
  opacity:0;
}

.commentDiv.ng-leave,
.commentDiv.ng-move.ng-move-active,
.commentDiv.ng-enter.ng-enter-active {
  opacity:1;
}

.postDiv.ng-move,
.postDiv.ng-enter,
.postDiv.ng-leave 
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 

.postDiv.ng-leave,
.postDiv.ng-move.ng-move-active,
.postDiv.ng-enter.ng-enter-active {
    opacity: 1;
    bottom: 0;
    height: 30px;
}
 
.postDiv.ng-leave.ng-leave-active,
.postDiv.ng-move,
.postDiv.ng-enter  {
    opacity: 0;
    bottom: -50px;
    height: 0px;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 675ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 675ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 675ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 675ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 675ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    bottom: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    bottom: -50px;
    height: 0px;
}	

